.first{
    text-transform: uppercase;
    background-color:  #092c42;
    color:#ffffff ;
    text-align: center;
}
.icon{
    float: right;
    color: lightgray;
    margin-top: 20px;
    margin-right: 10px;
}
.icon:hover{
    color: orange;
}
.nav-item{
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 10px;
    white-space: nowrap;
   
   
}
li a, .dropdownbtn{
    display: inline-block;
    background-color: #f2f2f2;
    text-decoration: none;
    
}
li .dropdown{
    position: relative;
    display: inline-block;
   
}
.dropdown-content{
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    z-index: 1;
    border-top: 2px solid orange;
    border-bottom: 3px solid gray;
}
.dropdown-content a{
    color: gray;
    display: block;
    text-align: left;
    text-decoration: none;
    float: left;
  
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropdownbtn:hover{
    color: orange;
}
.dropdown-content a:hover{
    color: orange;
}
.list-group-item{
    border: none;
    background-color: #f2f2f2; 
}
.cloth{
    margin-top: 30px;
    text-transform: capitalize;
}
.col-35{
    width: 35%;
    white-space: nowrap;
}

/*--footer---*/

.letter{
    color: white;
    background-color: #092c42;
    border: none;
    border-bottom: 2px solid orange;
}

.footer-color{
    color: white;
    background-color: #092c42;
    font-size: 15px;
}
.footer-color:hover{
    color: orange;
}
ul{
    list-style-type: none;
}
.foot{
    color: white;
    background-color: #092c42;
    font-size: 15px;
}

